<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Cars / Car Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a th:href="@{/index}" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">FleetMS</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <div sec:authorize="isAuthenticated()"><span class="d-none d-md-block dropdown-toggle ps-2" sec:authentication="name">Ojieide</span></div>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Ojieide Egbomondion</h6>
              <span>Admin</span>
            </li>
            
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " th:href="@{/index}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#cars-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-car-front"></i><span>Cars</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="cars-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/carbrands}">
              <i class="bi bi-circle"></i><span>Brands</span>
            </a>
          </li>
          <li>
            <a th:href="@{/cartypes}">
              <i class="bi bi-circle"></i><span>Types</span>
            </a>
          </li>
          <li>
            <a th:href="@{/carmodels}">
              <i class="bi bi-circle"></i><span>Models</span>
            </a>
          </li>
          <li>
            <a th:href="@{/cars}">
              <i class="bi bi-circle"></i><span>Data</span>
            </a>
          </li>
          <li>
            <a th:href="@{/carmaintenance}">
              <i class="bi bi-circle"></i><span>Maintenance</span>
            </a>
          </li>
          <li>
            <a th:href="@{/carmovements}">
              <i class="bi bi-circle"></i><span>Movements</span>
            </a>
          </li>
          <li>
            <a th:href="@{/carhires}">
              <i class="bi bi-circle"></i><span>Hires</span>
            </a>
          </li>
          <li>
            <a th:href="@{/carstatus}">
              <i class="bi bi-circle"></i><span>Status</span>
            </a>
          </li>
        </ul>
      </li><!-- End Cars Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#people-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person"></i><span>People</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="people-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/clients}">
              <i class="bi bi-circle"></i><span>Clients</span>
            </a>
          </li>
          <li>
            <a th:href="@{/suppliers}">
              <i class="bi bi-circle"></i><span>Suppliers</span>
            </a>
          </li>
          <li>
            <a th:href="@{/contacts}">
              <i class="bi bi-circle"></i><span>Contacts</span>
            </a>
          </li>
          <li>
            <a th:href="@{/users}">
              <i class="bi bi-circle"></i><span>Users</span>
            </a>
          </li>
        </ul>
      </li><!-- End People Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#HR-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-hr"></i><span>Human Resources</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="HR-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/personnel}">
              <i class="bi bi-circle"></i><span>Personnel</span>
            </a>
          </li>
          <li>
            <a th:href="@{/personneltypes}">
              <i class="bi bi-circle"></i><span>Personnel Types</span>
            </a>
          </li>
        </ul>
      </li><!-- End HR Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#accounts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bank"></i><span>Accounts</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="accounts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/invoices}">
              <i class="bi bi-circle"></i><span>Invoices</span>
            </a>
          </li>
          <li>
            <a th:href="@{/invoicestatus}">
              <i class="bi bi-circle"></i><span>Status</span>
            </a>
          </li>
        </ul>
      </li><!-- End Accounts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#global-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-globe"></i><span>Global</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="global-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/countries}">
              <i class="bi bi-circle"></i><span>Countries</span>
            </a>
          </li>
          <li>
            <a th:href="@{/states}">
              <i class="bi bi-circle"></i><span>States</span>
            </a>
          </li>
          <li>
            <a th:href="@{/locations}">
              <i class="bi bi-circle"></i><span>Locations</span>
            </a>
          </li>
        </ul>
      </li><!-- End Global Nav -->
  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Car Page</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Car</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#insertModal">Add Car</button>
    
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
			
          <div class="card">
            <div class="card-body">
		      <table class="table">
				  <thead>
					  <tr>
						  <th>Image</th>
						  <th>Name</th>
				          <th>Description</th>
				          <th>Acquisition Date</th>
						  <th>Actions</th>
					  </tr>
				  </thead>
				  <tbody>
					  <tr th:each="car:${cars}">
						  <td>
							  <a id="imageBtn" th:href="@{'/assets/img/images/cars/' + ${car.id} +'.png'}">
								  <img th:src="@{'/assets/img/images/cars/' + ${car.id} +'.png'}" width="40" height="40">
							  </a>
						  </td>
						  <td th:text="${car.name}">
						  <td th:text="${car.description}">
						  <td th:text="${car.acquisitionDate}">
						  <td>
							  <div class="btn-group">
								  <a class="btn btn-primary" th:href="@{/cars/fetchCarById/{id}(id=${car.id})}" id="editBtn" data-bs-toggle="modal" data-bs-target="#editModal"><i class="fa fa-edit"></i></a>
								  <a class="btn btn-success" th:href="@{/cars/fetchCarById/{id}(id=${car.id})}" id="detailsBtn" data-bs-toggle="modal" data-bs-target="#detailsModal"><i class="fa fa-caret-square-o-down"></i></a>
								  <a class="btn btn-danger" th:href="@{/cars/deleteCarById/{id}(id=${car.id})}" id="deleteBtn" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fa fa-trash-o"></i></a>
							  </div>
						  </td>
					  </tr>
				  </tbody>
			  </table>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
  
 <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="insertModalLabel">New Car</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	   <form th:action="@{/cars/insertNew}" method="post">
		<table width="100%">
			<tr>
				<td width="50%">
				  <div class="form-group row">
				    <label for="cartypeInsert" class="col-sm-2 col-form-label">Car Type:</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="cartypeInsert" name="cartypeid">
			               <option>-SELECT-</option>			    					    
					       <option th:each="cartype : ${cartypes}"
						        th:value="${cartype.id}"
						        th:text="${cartype.description}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				 <div class="form-group row">
				    <label for="carnameInsert" class="col-sm-2 col-form-label">Car Name:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="carnameInsert" name="name" placeholder="Car Name">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="carnumberInsert" class="col-sm-2 col-form-label">Car Number:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="carnumberInsert" name="carNumber" placeholder="Car Number">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="registrationdateInsert" class="col-sm-2 col-form-label">Registration Date:</label>
				    <div class="col-sm-6">
				      <input type="date" class="form-control" id="registrationdateInsert" name="registrationDate" placeholder="Registration Date">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="descriptionInsert" class="col-sm-2 col-form-label">Description:</label>
				    <div class="col-sm-6">
				      <textarea type="text" class="form-control" id="descriptionInsert" name="description" placeholder="Description" rows="2"></textarea>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="acquisitiondateInsert" class="col-sm-2 col-form-label">Acquisition Date:</label>
				    <div class="col-sm-6">
				      <input type="date" class="form-control" id="acquisitiondateInsert" name="acquisitionDate" placeholder="Acquisition Date">				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="carbrandInsert" class="col-sm-2 col-form-label">Car Brand:</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="carbrandInsert" name="carbrandid">
			               <option>-SELECT-</option>			    					   
					       <option th:each="carbrand : ${carbrands}"
						        th:value="${carbrand.id}"
						        th:text="${carbrand.description}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="carmodelInsert" class="col-sm-2 col-form-label">Car Model:</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="carmodelInsert" name="carmodelid">
			               <option>-SELECT-</option>			    					    
					       <option th:each="carmodel : ${carmodels}"
						        th:value="${carmodel.id}"
						        th:text="${carmodel.description}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="currentlocationInsert" class="col-sm-2 col-form-label">Current Location:</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="currentlocationInsert" name="locationid">
		        	       <option>-SELECT-</option>			    					    
					       <option th:each="location : ${locations}"
						        th:value="${location.id}"
						        th:text="${location.address}">
						   </option>				    
						</select>
					</div>
				  </div>
				</td>
				<td width="50%" style="padding-left:10px">
				  <div class="form-group row">
				    <label for="energysourceInsert" class="col-sm-2 col-form-label">Energy Source:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="energysourceInsert" name="energySource" placeholder="Energy Source(disel or fuel)">				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="fuelcapacityInsert" class="col-sm-2 col-form-label">Fuel Capacity:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="fuelcapacityInsert" name="fuelCapacity" placeholder="Fuel Capacity">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="netweightInsert" class="col-sm-2 col-form-label">Net Weight:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="netweightInsert" name="netWeight" placeholder="Net Weight">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="remarksInsert" class="col-sm-2 col-form-label">Remarks:</label>
				    <div class="col-sm-6">
				      <textarea type="text" class="form-control" id="remarksInsert" name="remarks" placeholder="Remarks"rows="2"></textarea>			    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="personnelInsert" class="col-sm-2 col-form-label">In Charge;</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="personnelInsert" name="personnelid">
		        	       <option disabled>-SELECT-</option>			    					  					    
					       <option th:each="personnel : ${personnel}"
						        th:value="${personnel.id}"
						        th:text="${personnel.firstname}">
						   </option>
						</select>					    
					</div>
				  </div>
				  <div class="form-group row">
				    <label for="carstatusInsert" class="col-sm-2 col-form-label">Car Status:</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="carstatusInsert" name="carstatusid">
			               <option>-SELECT-</option>			    					    
					       <option th:each="carstatus : ${carstatus}"
						        th:value="${carstatus.id}"
						        th:text="${carstatus.description}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="imageInsert" class="col-sm-2 col-form-label">Select Image:</label>
				    <div class="col-sm-6">
				      <input type="file" class="form-control-file" id="imageInsert" name="photo" placeholder="Select File">
				    </div>
				  </div>
				</td>
			</tr>
		</table>
      </div>

      <div class="modal-footer">
		  <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
 </form>
</div>
  
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Update Record</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	   <form th:action="@{/cars/update}" method="put">
		<table width="100%">
			<tr>
				<td width="50%">
				 <div class="form-group row">
				    <label for="idEdit" class="col-sm-2 col-form-label">Id:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="idEdit" name="id" placeholder="Id" readonly>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="cartypeEdit" class="col-sm-2 col-form-label">Car Type:</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="cartypeEdit" name="cartypeid">
			               <option>-SELECT-</option>			    					    
					       <option th:each="cartype : ${cartypes}"
						        th:value="${cartype.id}"
						        th:text="${cartype.description}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				 <div class="form-group row">
				    <label for="carnameEdit" class="col-sm-2 col-form-label">Car Name:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="carnameEdit" name="name" placeholder="Car Name">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="carnumberEdit" class="col-sm-2 col-form-label">Car Number:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="carnumberEdit" name="carNumber" placeholder="Car Number">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="registrationdateEdit" class="col-sm-2 col-form-label">Registration Date:</label>
				    <div class="col-sm-6">
				      <input type="date" class="form-control" id="registrationdateEdit" name="registrationDate" placeholder="Registration Date">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="descriptionEdit" class="col-sm-2 col-form-label">Description:</label>
				    <div class="col-sm-6">
				      <textarea type="text" class="form-control" id="descriptionEdit" name="description" placeholder="Description" rows="2"></textarea>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="acquisitiondateEdit" class="col-sm-2 col-form-label">Acquisition Date:</label>
				    <div class="col-sm-6">
				      <input type="date" class="form-control" id="acquisitiondateEdit" name="acquisitionDate" placeholder="Acquisition Date">				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="carbrandEdit" class="col-sm-2 col-form-label">Car Brand:</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="carbrandEdit" name="carbrandid">
			               <option>-SELECT-</option>			    					   
					       <option th:each="carbrand : ${carbrands}"
						        th:value="${carbrand.id}"
						        th:text="${carbrand.description}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="carmodelEdit" class="col-sm-2 col-form-label">Car Model:</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="carmodelEdit" name="carmodelid">
			               <option>-SELECT-</option>			    					    
					       <option th:each="carmodel : ${carmodels}"
						        th:value="${carmodel.id}"
						        th:text="${carmodel.description}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="currentlocationEdit" class="col-sm-2 col-form-label">Current Location:</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="currentlocationEdit" name="locationid">
		        	       <option>-SELECT-</option>			    					    
					       <option th:each="location : ${locations}"
						        th:value="${location.id}"
						        th:text="${location.address}">
						   </option>				    
						</select>
					</div>
				  </div>
				</td>
				<td width="50%" style="padding-left:10px">
				  <div class="form-group row">
				    <label for="energysourceEdit" class="col-sm-2 col-form-label">Energy Source:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="energysourceEdit" name="energySource" placeholder="Energy Source(disel or fuel)">				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="fuelcapacityEdit" class="col-sm-2 col-form-label">Fuel Capacity:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="fuelcapacityEdit" name="fuelCapacity" placeholder="Fuel Capacity">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="netweightEdit" class="col-sm-2 col-form-label">Net Weight:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="netweightEdit" name="netWeight" placeholder="Net Weight">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="remarksEdit" class="col-sm-2 col-form-label">Remarks:</label>
				    <div class="col-sm-6">
				      <textarea type="text" class="form-control" id="remarksEdit" name="remarks" placeholder="Remarks"rows="2"></textarea>			    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="personnelEdit" class="col-sm-2 col-form-label">In Charge;</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="personnelEdit" name="personnelid">
		        	       <option disabled>-SELECT-</option>			    					  					    
					       <option th:each="personnel : ${personnel}"
						        th:value="${personnel.id}"
						        th:text="${personnel.firstname}">
						   </option>
						</select>					    
					</div>
				  </div>
				  <div class="form-group row">
				    <label for="carstatusEdit" class="col-sm-2 col-form-label">Car Status:</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="carstatusEdit" name="carstatusid">
			               <option>-SELECT-</option>			    					    
					       <option th:each="carstatus : ${carstatus}"
						        th:value="${carstatus.id}"
						        th:text="${carstatus.description}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="imageEdit" class="col-sm-2 col-form-label">Select Image:</label>
				    <div class="col-sm-6">
				      <input type="file" class="form-control-file" id="imageEdit" name="photo" placeholder="Select File">
				    </div>
				  </div>
				</td>
			</tr>
		</table>
      </div>
      <div class="modal-footer">
		  <button type="submit" class="btn btn-primary">Submit</button>
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
 </form>
</div>

 <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModalLabel">Car Details</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<table width="100%">
			<tr>
				<td width="50%">
				 <div class="form-group row">
				    <label for="idInsert" class="col-sm-2 col-form-label">Id:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="idInsert" name="id" placeholder="Id" readonly>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="cartypeDetails" class="col-sm-2 col-form-label">Car Type:</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="cartypeDetails" name="cartypeid" disabled>
			               <option>-SELECT-</option>			    					    
					       <option th:each="cartype : ${cartypes}"
						        th:value="${cartype.id}"
						        th:text="${cartype.description}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				 <div class="form-group row">
				    <label for="carnameDetails" class="col-sm-2 col-form-label">Car Name:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="carnameDetails" name="name" placeholder="Car Name" readonly>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="carnumberDetails" class="col-sm-2 col-form-label">Car Number:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="carnumberDetails" name="carNumber" placeholder="Car Number" readonly>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="registrationdateDetails" class="col-sm-2 col-form-label">Registration Date:</label>
				    <div class="col-sm-6">
				      <input type="date" class="form-control" id="registrationdateDetails" name="registrationDate" placeholder="Registration Date" readonly>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="descriptionDetails" class="col-sm-2 col-form-label">Description:</label>
				    <div class="col-sm-6">
				      <textarea type="text" class="form-control" id="descriptionDetails" name="description" placeholder="Description" rows="2" readonly></textarea>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="acquisitiondateDetails" class="col-sm-2 col-form-label">Acquisition Date:</label>
				    <div class="col-sm-6">
				      <input type="date" class="form-control" id="acquisitiondateDetails" name="acquisitionDate" placeholder="Acquisition Date" readonly>				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="carbrandDetails" class="col-sm-2 col-form-label">Car Brand:</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="carbrandDetails" name="carbrandid" disabled>
			               <option>-SELECT-</option>			    					   
					       <option th:each="carbrand : ${carbrands}"
						        th:value="${carbrand.id}"
						        th:text="${carbrand.description}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="carmodelDetails" class="col-sm-2 col-form-label">Car Model:</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="carmodelDetails" name="carmodelid" disabled>
			               <option>-SELECT-</option>			    					    
					       <option th:each="carmodel : ${carmodels}"
						        th:value="${carmodel.id}"
						        th:text="${carmodel.description}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="currentlocationDetails" class="col-sm-2 col-form-label">Current Location:</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="currentlocationDetails" name="locationid" disabled>
		        	       <option>-SELECT-</option>			    					    
					       <option th:each="location : ${locations}"
						        th:value="${location.id}"
						        th:text="${location.address}">
						   </option>				    
						</select>
					</div>
				  </div>
				</td>
				<td width="50%" style="padding-left:10px">
				  <div class="form-group row">
				    <label for="energysourceDetails" class="col-sm-2 col-form-label">Energy Source:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="energysourceDetails" name="energySource" placeholder="Energy Source(disel or fuel)" readonly>				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="fuelcapacityDetails" class="col-sm-2 col-form-label">Fuel Capacity:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="fuelcapacityDetails" name="fuelCapacity" placeholder="Fuel Capacity" readonly>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="netweightDetails" class="col-sm-2 col-form-label">Net Weight:</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="netweightDetails" name="netWeight" placeholder="Net Weight" readonly>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="remarksDetails" class="col-sm-2 col-form-label">Remarks:</label>
				    <div class="col-sm-6">
				      <textarea type="text" class="form-control" id="remarksDetails" name="remarks" placeholder="Remarks"rows="2" readonly></textarea>			    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="personnelDetails" class="col-sm-2 col-form-label">In Charge;</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="personnelDetails" name="personnelid" disabled>
		        	       <option disabled>-SELECT-</option>			    					  					    
					       <option th:each="personnel : ${personnel}"
						        th:value="${personnel.id}"
						        th:text="${personnel.firstname}">
						   </option>
						</select>					    
					</div>
				  </div>
				  <div class="form-group row">
				    <label for="carstatusDetails" class="col-sm-2 col-form-label">Car Status:</label>
				    <div class="col-sm-6">
					    <select class="form-control" id="carstatusDetails" name="carstatusid" disabled>
			               <option>-SELECT-</option>			    					    
					       <option th:each="carstatus : ${carstatus}"
						        th:value="${carstatus.id}"
						        th:text="${carstatus.description}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="imageDetails" class="col-sm-2 col-form-label">Select Image:</label>
				    <div class="col-sm-6">
				      <input type="file" class="form-control-file" id="imageDetails" name="photo" placeholder="Select File" disabled>
				    </div>
				  </div>
				</td>
			</tr>
		</table>
      </div>
      <div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this data?</p>
      </div>
      <div class="modal-footer">
        <a href="" class="btn btn-primary" id="confirmDeleteBtn">Yes</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>FleetMS</span></strong>. All Rights Reserved
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/car.js"></script>

</body>

</html>